@model IEnumerable<projetFinale.Models.Produits>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center display-4 my-5" style="font-weight:600;">Mokolo Admin</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Ajouter</a>
</p>
<div class="row mb-5">
    <div class="col-md-9 p-2">
        <form asp-action="Index" asp-controller"Produits" class="d-flex">
            <input style="font-weight:600;" type="search" name="searchString" class="form-control" me-1 placeholder="recherche" aria-label="searh" />
            <button class="btn btn-dark ms-2" style="font-weight:600;" type="submit">recherche</button>
        </form>
    </div>
    <div class="col-md-3 d-flex ">
        <a asp-action="Index" style="font-weight:600;" class="text-dark align-self-center">retour a la liste</a>
    </div>
</div>
<div class="">
    @foreach (var item in Model)
    {
        <div class="card  d-inline-block m-1 " style="max-width:320px;max-height:900px;">
            <div class="card-body  p-0" style="padding:5px;">
                <img style="width:315px; height:315px;" class="align-content-center card-img" src="~/images/@item.Image">
                <details style="font-weight:600; font-size:18px;">
                    <summary>Infos</summary>
                    <p>Marque : @item.Marque</p>
                    <p>Utilisation : @item.Utilisation</p>
                    <p>Capacité : @item.Capacite</p>
                    <p>Fonctionnalité : @item.Fonctionnalite</p>
                    <p>Catégorie ID : @item.CategorieId</p>
                </details>
                <p>@Html.DisplayFor(modelItem => item.Prix)</p>
            </div>
            <div class=" card-footer d-flex justify-content-around">
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </div>
        </div>
    }
</div>
